*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{font-size:62.5%;}

body{
    font-family:'Courier New', Courier, monospace;
    box-sizing: inherit;
}

#app{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    display:flex;
    flex-direction:column;
    
}

.progress-bar{
    height:2rem;
    width:40rem;
    border-radius:5px;
    border: 2px solid rgb(10, 16, 90);
    
}

.progress{
    height:100%;
    background-color: rgb(179, 183, 243);
}

.btnStyle{
    margin-top:2rem;
    align-self:flex-end;
    padding:.7rem 4rem;
    background-color:rgb(248, 248, 248);
    border:none;
    box-shadow: 2px 2px 10px rgba(131, 131, 131, 0.644);
    color:rgb(75, 75, 75);
    outline:transparent;
    cursor:pointer;
}

.btnStyle:active{
    transform: scale(.9);
}